#root {
  max-width: 1380px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.border-col {
  border: 2px solid #e2caca; /* Right border */
  padding: 70px; /* Optional padding */

}







